doctype html
html
	include includes/head.jade
	body
		include includes/header.jade
		main
			section.slider
				.gallery
					.gallery-cell
						img(
							src="http://placehold.it/1100x619/a3137f/ffffff?text=Desktop+(default)"
							srcset="http://placehold.it/3300x1857/a3137f/ffffff?text=Desktop@3x 3300w, \
											http://placehold.it/2200x1238/a3137f/ffffff?text=Desktop@2x 2200w, \
											http://placehold.it/1100x619/a3137f/ffffff?text=Desktop@1x 1100w, \
											http://placehold.it/550x310/a3137f/ffffff?text=Mobile 550w"
						)
					.gallery-cell
						img(
							src="http://placehold.it/1100x619/648c55/ffffff?text=Desktop+(default)"
							srcset="http://placehold.it/3300x1857/648c55/ffffff?text=Desktop@3x 3300w, \
											http://placehold.it/2200x1238/648c55/ffffff?text=Desktop@2x 2200w, \
											http://placehold.it/1100x619/648c55/ffffff?text=Desktop@1x 1100w, \
											http://placehold.it/550x310/648c55/ffffff?text=Mobile 550w"
						)
					.gallery-cell
						img(
							src="http://placehold.it/1100x619?text=Desktop+(default)"
							srcset="http://placehold.it/3300x1857/ddf2fa?text=Desktop@3x 3300w, \
											http://placehold.it/2200x1238/ddf2fa?text=Desktop@2x 2200w, \
											http://placehold.it/1100x619/ddf2fa?text=Desktop@1x 1100w, \
											http://placehold.it/550x310/ddf2fa?text=Mobile 550w"
						)
					.gallery-cell
						img(
							src="http://placehold.it/1100x619/505ab5/ffffff?text=Desktop+(default)"
							srcset="http://placehold.it/3300x1857/505ab5/ffffff?text=Desktop@3x 3300w, \
											http://placehold.it/2200x1238/505ab5/ffffff?text=Desktop@2x 2200w, \
											http://placehold.it/1100x619/505ab5/ffffff?text=Desktop@1x 1100w, \
											http://placehold.it/550x310/505ab5/ffffff?text=Mobile 550w"
						)
				.controls
					button.flickity-prev-next-button.next#js-prev(type="button")
						svg(viewBox="0 0 100 100")
							path(
								d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
							)
					button.flickity-prev-next-button.play-pause#js-pause(type="button")
						svg(viewBox="0 0 36 36")
							defs
								path#yt(
									d="M 11 10 L 17 10 L 17 26 L 11 26 M 20 10 L 26 10 L 26 26 L 20 26"
								)
									animate#animation(
										begin="indefinite"
										attributeType="XML"
										attributeName="d"
										fill="freeze"
										from="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26"
										to="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28"
										dur="0.1s"
										keySplines=".4 0 1 1"
										repeatCount="1"
									)
							use(xlink:href="#yt")
					button.flickity-prev-next-button.next#js-next(type="button")
						svg(viewBox="0 0 100 100")
							path(
								d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
								transform="translate(100, 100) rotate(180)"
							)
				.quick-links
					h1 How can we help you?
					ul
						li
							a(href="#") Forms
						li
							a(href="#") Underwriting
						li
							a(href="#") Billing
						li
							a(href="#") Claims
						li
							a(href="#") Marketing
			.indentation-wrap.brand-white
				.indentation.left
				.indentation.right
			section.news
				.contain
					article
						h3 News Article Title
						img(src="http://placehold.it/600x400/")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						a(href="#").read-more.arrow Read More
					article
						h3 Featured Article Title
						img(src="http://placehold.it/600x400/")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						a(href="#").read-more.arrow Read More
					.links
						h2 What's Happening
						.link-contain
							.link-wrap
								a(href="#") Trade Show
									span September 22, 2015
								a(href="#") Cool Trade Show
									span September 22, 2015
								a(href="#") Brand New Trade Show
									span September 22, 2015
								a(href="#") Show
									span September 22, 2015
								a(href="#") Trade Show
									span September 22, 2015
								a(href="#") Trade Show for very Cool and Exciting Things
									span September 22, 2015
						h2 Important Announcements
						.link-contain
							.link-wrap
								a(href="#") Announcement
									span September 22, 2015
								a(href="#") Announcement
									span September 22, 2015
								a(href="#") Announcement
									span September 22, 2015
								a(href="#") Announcement
									span September 22, 2015
								a(href="#") Announcement
									span September 22, 2015
								a(href="#") Announcement
									span September 22, 2015
			.indentation-wrap.secondary-blue
				.indentation.left
				.indentation.right
			section.about
				.contain
					.about-nav
						ul
							li
								a(href="#").arrow Our Mission
							li
								a(href="#").arrow Our Story
							li
								a(href="#").arrow Our Values
						.indentation-wrap.secondary-blue
							.indentation.left
							.indentation.right
					article
						h1 A Better Business Model
						span What it means for you and your clients
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatum.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatum. 
		include includes/footer.jade